<!--  Name: chuck.html
      Group Members: Chris Mayers, Paul Whipp, Chuy Gomez, David Gin
      Date: 5/12/2019
      Class: CST 205
      Description: Jinja template creating the Chuck Norris joke framework.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Chuck Norris Jokes</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" >
</head>
<body>
    <img src={{ im }} />
		<h2>Random Chuck Norris Joke </h2>
		<p>
		<br/>
        <b>
            <a style="font-size:20px">
                {{ joke }}
            </a>
        </b>
		</p>
	</body>
</html>
