<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" />
      <title>There's No Place Like Homepage</title>
  </head>
  <body>
    <h2>There's No Place Like Homepage</h2>
    <div id="apiNav">
      <button id="news">News</button>
      <button id="weather">Weather</button>
      <button id="animu">Anime</button>
      <button id="nasa">NASA </button>
    </div>

    <iframe src=""></iframe>

  </body>
</html>
