<!--  Name: nasa.html
      Group Members: Chris Mayers, Paul Whipp, Chuy Gomez, David Gin
      Date: 5/12/2019
      Class: CST 205
      Description: Jinja template creating the nasa image page framework.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NASA Photo</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" >
</head>
<body>

	<h2>NASA Astronomy Photo of the Day </h2>

	<div id = "nasaParent">

		<div id = "nasaDescription">

			<p>{{words}}</p>

		</div>

		<div id = "nasaPhoto">

			<img src = "{{link}}" width="500">

		</div>

	</div>

</body>
</html>
