<!--  Name: newsapi.html
      Group Members: Chris Mayers, Paul Whipp, Chuy Gomez, David Gin
      Date: 5/12/2019
      Class: CST 205
      Description: Jinja template creating the news page framework.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>There's No Place Like Homepage</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" />
</head>
<body class="iframe-body">
  {% block content %}
      {% for item in data['articles'] %}
        <h2><a href="{{item['url']}}">{{item['title']}}</a></h2>
        <h3>{{item['author']}} for {{item['source']['name']}}</h3>
        <div class="row">
          <div class="column">
            <img src="{{item['urlToImage']}}" class="news-img"/>
          </div>
          <div class="column">
            <p>{{item['description']}}</p>
          </div>
        </div>
      {% endfor %}

  {% endblock %}
</body>
</html>
