<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>There's No Place Like Homepage</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  {% block content %}
      {% for item in data['articles'] %}
        <h2><a href="{{item['url']}}">{{item['title']}}</a></h2>
        <h3>{{item['author']}} for {{item['source']['name']}}</h3>
        <p>{{item['description']}}</p>
        <img src="{{item['urlToImage']}}"/>
      {% endfor %}


  {% endblock %}
</body>
</html>
