<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" />
      <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='scripts.js') }}"></script>
      <title>There's No Place Like Homepage</title>
  </head>
  <body>

    <form action="" method="post">
      {{ form.csrf_token }}{{ form.hidden_tag() }}
      <p>
        {{ form.query.label }} <br> {{ form.query(size=32) }} <br>
      </p>
      <p>
        {{ form.submit() }}
      </p>
    </form>

  </body>
</html>
