<!--  Name: weather.html
      Group Members: Chris Mayers, Paul Whipp, Chuy Gomez, David Gin
      Date: 5/12/2019
      Class: CST 205
      Description: Jinja template creating the weather page framework.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monterey Weather</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" >
</head>
<body>

	<h2>{{city}} Weather</h2>

	<div id = "weatherParent">

		<div id = "weatherInfo">
			<strong><p>Current Conditions:</strong>  {{conditions}}</p>
			<strong><p>Current Temperature:</strong> {{temp}} °f</p>
			<strong><p>Current Wind:</strong>        {{wind}} mph</p>
			<strong><p>Air Pressure:</strong>        {{pressure}} mbar</p>
			<strong><p>Humidity:</strong>            {{humid}}%</p>
		</div>

		<div id = "weatherGraphic">
			<img src = "https://www.metaweather.com/{{graphic}}" width = "150">
		</div>

	</div>
  
</body>
</html>
