<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monterey Weather</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" >
</head>
<body>

	<h1>{{city}}</h1>

	<p>Current Conditions:  {{conditions}}</p>
	<p>Current Temperature: {{temp}} degrees fahrenheit</p>
	<p>Current Wind:        {{wind}} mph</p>
	<p>Air Pressure:        {{pressure}} mbar</p>
	<p>Humidity:            {{humid}}%</p>
	<img src = "https://www.metaweather.com/{{graphic}}" width = "150">

</body>
</html>
