body {
    text-align: center;
    background-image: linear-gradient(to right, #ffe6e6,#fff6e6,#ffffe6,#e6ffe6,#e6e6ff,#f4e6ff,#fce9fc);
    font-family: 'Open Sans', sans-serif;
}

img {
    border-radius: 20px;
    padding: 15px;
    width: 150px;
}

h2 {
  font: Times, Helvetica;
  color: darkgreen; }

p {
  font: Times, Helvetica;
  color: #334; }

ul {
  font: Times, Helvetica; }
  ul mid {
    color: #334; }
  ul top {
    color: green; }
