body {
    text-align: center;
    background-image: linear-gradient(to right, #ffe6e6,#fff6e6,#ffffe6,#e6ffe6,#e6e6ff,#f4e6ff,#fce9fc);
    font-family: 'Open Sans', sans-serif;
}

h1 {
	font: Times, Helvetica;	
}

img {
    border-radius: 20px;
    padding: 15px;
    width: 150px;
}

iframe {
  border-radius: 20px;
  border: solid blue;
  background-color: white;
  width: 80%;
  height: 425px;
}

button {
  border: 1px solid white;
  padding: 10px 24px;
  margin: 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  border: 1px solid blue;
}


h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  font-size: 3em;
  color: blue;
}

p {
  font: Times, Helvetica;
  color: #334; }

ul {
  font: Times, Helvetica; }
  ul mid {
    color: #334; }
  ul top {
    color: green; }
